:host {
	position: relative;
	display: block;
	padding: 16px;
	color: rgba(0, 0, 0, .87);
	background-color: #fff;
	box-shadow: var(--shadow-elevation-2);
	border-radius: 2px;
	transition: box-shadow .3s var(--transition-standart-easing);
	user-select: none;
	cursor: pointer;
}

:host(:hover) {
	box-shadow: var(--shadow-elevation-8);
}

:host .title {
	display: block;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}

:host .text {
	display: block;
	font-size: 14px;
	line-height: 20px;
}