:host {
	position: relative;
	display: block;
	width: 100%;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	color: rgba(0, 0, 0, .87);
	background-color: #fff;
}

:host .title,
:host .text {
	position: relative;
	display: block;
	outline: none;
}

:host .title:empty::before,
:host .text:empty::before {
	position: absolute;
	left: 16px;
	max-width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	opacity: .54;
	pointer-events: none;
}

:host .title {
	align-self: start;
	min-height: 32px;
	padding: 24px 16px 0;
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
}

:host .title:empty::before {
	content: "Заголовок";
	top: 24px;
}

:host .text {
	min-height: 20px;
	padding: 16px;
	font-size: 14px;
	line-height: 20px;
}

:host .text:empty::before {
	content: "Текст";
	top: 16px;
}

/* Mobile large */
@media (min-width: 567px) {
	:host {
		max-width: 576px;
		border-radius: 2px;
		box-shadow: var(--shadow-elevation-2);
	}
}

/* Tablet */
@media (min-width: 768px) {
	:host {
		max-width: 720px;
		min-height: calc(100% - 32px);
		margin-top: 16px;
		margin-bottom: 16px;
	}
}

/* Desktop small */
@media (min-width: 992px) {
	:host {
		max-width: 940px;
	}
}