/* ==========================================================================
   Variables
   ========================================================================== */
:root {
	/* Color */
	--color-50:   #e8f5e9;
	--color-100:  #c8e6c9;
	--color-200:  #a5d6a7;
	--color-300:  #81c784;
	--color-400:  #66bb6a;
	--color-500:  #4caf50;
	--color-600:  #43a047;
	--color-700:  #388e3c;
	--color-800:  #2e7d32;
	--color-900:  #1b5e20;
	--color-A100: #b9f6ca;
	--color-A200: #69f0ae;
	--color-A400: #00e676;
	--color-A700: #00c853;

	--color-50-contrast:   rgba(0, 0, 0, .87);
	--color-100-contrast:  rgba(0, 0, 0, .87);
	--color-200-contrast:  rgba(0, 0, 0, .87);
	--color-300-contrast:  rgba(0, 0, 0, .87);
	--color-400-contrast:  rgba(0, 0, 0, .87);
	--color-500-contrast:  rgba(0, 0, 0, .87);
	--color-600-contrast:  rgba(255, 255, 255, .87);
	--color-700-contrast:  rgba(255, 255, 255, .87);
	--color-800-contrast:  rgba(255, 255, 255, .87);
	--color-900-contrast:  rgba(255, 255, 255, .87);
	--color-A100-contrast: rgba(0, 0, 0, .87);
	--color-A200-contrast: rgba(0, 0, 0, .87);
	--color-A400-contrast: rgba(0, 0, 0, .87);
	--color-A700-contrast: rgba(0, 0, 0, .87);
}