/* ==========================================================================
   Variables
   ========================================================================== */
:root {
	/* Color */
	--color-50:   #f9fbe7;
	--color-100:  #f0f4c3;
	--color-200:  #e6ee9c;
	--color-300:  #dce775;
	--color-400:  #d4e157;
	--color-500:  #cddc39;
	--color-600:  #c0ca33;
	--color-700:  #afb42b;
	--color-800:  #9e9d24;
	--color-900:  #827717;
	--color-A100: #f4ff81;
	--color-A200: #eeff41;
	--color-A400: #c6ff00;
	--color-A700: #aeea00;

	--color-50-contrast:   rgba(0, 0, 0, .87);
	--color-100-contrast:  rgba(0, 0, 0, .87);
	--color-200-contrast:  rgba(0, 0, 0, .87);
	--color-300-contrast:  rgba(0, 0, 0, .87);
	--color-400-contrast:  rgba(0, 0, 0, .87);
	--color-500-contrast:  rgba(0, 0, 0, .87);
	--color-600-contrast:  rgba(0, 0, 0, .87);
	--color-700-contrast:  rgba(0, 0, 0, .87);
	--color-800-contrast:  rgba(0, 0, 0, .87);
	--color-900-contrast:  rgba(255, 255, 255, .87);
	--color-A100-contrast: rgba(0, 0, 0, .87);
	--color-A200-contrast: rgba(0, 0, 0, .87);
	--color-A400-contrast: rgba(0, 0, 0, .87);
	--color-A700-contrast: rgba(0, 0, 0, .87);
}