/* ==========================================================================
   Variables
   ========================================================================== */
:root {
	/* Color */
	--color-50:   #e3f2fd;
	--color-100:  #bbdefb;
	--color-200:  #90caf9;
	--color-300:  #64b5f6;
	--color-400:  #42a5f5;
	--color-500:  #2196f3;
	--color-600:  #1e88e5;
	--color-700:  #1976d2;
	--color-800:  #1565c0;
	--color-900:  #0d47a1;
	--color-A100: #82b1fe;
	--color-A200: #448aff;
	--color-A400: #2979ff;
	--color-A700: #2962ff;

	--color-50-contrast:   rgba(0, 0, 0, .87);
	--color-100-contrast:  rgba(0, 0, 0, .87);
	--color-200-contrast:  rgba(0, 0, 0, .87);
	--color-300-contrast:  rgba(0, 0, 0, .87);
	--color-400-contrast:  rgba(0, 0, 0, .87);
	--color-500-contrast:  rgba(255, 255, 255, .87);
	--color-600-contrast:  rgba(255, 255, 255, .87);
	--color-700-contrast:  rgba(255, 255, 255, .87);
	--color-800-contrast:  rgba(255, 255, 255, .87);
	--color-900-contrast:  rgba(255, 255, 255, .87);
	--color-A100-contrast: rgba(0, 0, 0, .87);
	--color-A200-contrast: rgba(255, 255, 255, .87);
	--color-A400-contrast: rgba(255, 255, 255, .87);
	--color-A700-contrast: rgba(255, 255, 255, .87);
}