/* ==========================================================================
   Variables
   ========================================================================== */
:root {
	/* Primary color */
	--primary-color-50:   #fee8e9;
	--primary-color-100:  #fcb0b3;
	--primary-color-200:  #f4757a;
	--primary-color-300:  #f15158;
	--primary-color-400:  #f4373f;
	--primary-color-500:  #f0141e;
	--primary-color-600:  #df111a;
	--primary-color-700:  #cf0b14;
	--primary-color-800:  #bb070f;
	--primary-color-900:  #ab040b;
	--primary-color-A100: #fe7278;
	--primary-color-A200: #fe3b44;
	--primary-color-A400: #f70946;
	--primary-color-A700: #e8000b;
	/* Primary contrast color */
	--primary-color-50-contrast:   rgba(0, 0, 0, .87);
	--primary-color-100-contrast:  rgba(0, 0, 0, .87);
	--primary-color-200-contrast:  rgba(0, 0, 0, .87);
	--primary-color-300-contrast:  rgba(255, 255, 255, .87);
	--primary-color-400-contrast:  rgba(255, 255, 255, .87);
	--primary-color-500-contrast:  rgba(255, 255, 255, .87);
	--primary-color-600-contrast:  rgba(255, 255, 255, .87);
	--primary-color-700-contrast:  rgba(255, 255, 255, .87);
	--primary-color-800-contrast:  rgba(255, 255, 255, .87);
	--primary-color-900-contrast:  rgba(255, 255, 255, .87);
	--primary-color-A100-contrast: rgba(0, 0, 0, .87);
	--primary-color-A200-contrast: rgba(255, 255, 255, .87);
	--primary-color-A400-contrast: rgba(255, 255, 255, .87);
	--primary-color-A700-contrast: rgba(255, 255, 255, .87);

	/* Secondary color */
	--secondary-color-50:   #fce4ec;
	--secondary-color-100:  #f8bbd0;
	--secondary-color-200:  #f48fb1;
	--secondary-color-300:  #f06292;
	--secondary-color-400:  #ec407a;
	--secondary-color-500:  #e91e63;
	--secondary-color-600:  #d81b60;
	--secondary-color-700:  #c2185b;
	--secondary-color-800:  #ad1457;
	--secondary-color-900:  #880e4f;
	--secondary-color-A100: #ff80ab;
	--secondary-color-A200: #ff4081;
	--secondary-color-A400: #f50057;
	--secondary-color-A700: #c51162;
	/* Secondary contrast color */
	--secondary-color-50-contrast:   rgba(0, 0, 0, .87);
	--secondary-color-100-contrast:  rgba(0, 0, 0, .87);
	--secondary-color-200-contrast:  rgba(0, 0, 0, .87);
	--secondary-color-300-contrast:  rgba(0, 0, 0, .87);
	--secondary-color-400-contrast:  rgba(255, 255, 255, .87);
	--secondary-color-500-contrast:  rgba(255, 255, 255, .87);
	--secondary-color-600-contrast:  rgba(255, 255, 255, .87);
	--secondary-color-700-contrast:  rgba(255, 255, 255, .87);
	--secondary-color-800-contrast:  rgba(255, 255, 255, .87);
	--secondary-color-900-contrast:  rgba(255, 255, 255, .87);
	--secondary-color-A100-contrast: rgba(0, 0, 0, .87);
	--secondary-color-A200-contrast: rgba(255, 255, 255, .87);
	--secondary-color-A400-contrast: rgba(255, 255, 255, .87);
	--secondary-color-A700-contrast: rgba(255, 255, 255, .87);

	/* Disabled color */
	--disabled-color: 	        rgba(0, 0, 0, .38);

	/* Цвета текста в светлой теме (светлый фон, темный текс) */
	--page-background-color:   	  #efefef;
	--primary-background-color:   #fefefe;
	--primary-text-color: 	      rgba(0, 0, 0, .87);
	--secondary-text-color: 	  rgba(0, 0, 0, .54);
	--disabled-text-color: 	      rgba(0, 0, 0, .38);
	--divider-color:              rgba(0, 0, 0, .12);
	/* Цвета текста в темной теме (темный фон, светлый текс) */
	--primary-text-light-color:   #fff;
	--secondary-text-light-color: rgba(255, 255, 255, .7);
	--disabled-text-light-color:  rgba(255, 255, 255, .5);
	--divider-light-color:        rgba(255, 255, 255, .12);


	/* Shadow */
	--shadow-elevation-1:
			0 0 2px rgba(0, 0, 0, .14),
			0 2px 2px rgba(0, 0, 0, .12),
			0 1px 3px rgba(0, 0, 0, .2);
	--shadow-elevation-2:
			0 0 4px rgba(0, 0, 0, .14),
			0 3px 4px rgba(0, 0, 0, .12),
			0 1px 5px rgba(0, 0, 0, .2);
	--shadow-elevation-3:
			0 3px 3px rgba(0, 0, 0, .14),
			0 3px 4px rgba(0, 0, 0, .12),
			0 1px 8px rgba(0, 0, 0, .2);
	--shadow-elevation-4:
			0 2px 4px rgba(0, 0, 0, .14),
			0 4px 5px rgba(0, 0, 0, .12),
			0 1px 10px rgba(0, 0, 0, .2);
	--shadow-elevation-6:
			0 6px 10px rgba(0, 0, 0, .14),
			0 1px 18px rgba(0, 0, 0, .12),
			0 3px 5px rgba(0, 0, 0, .2);
	--shadow-elevation-8:
			0 8px 10px 1px rgba(0, 0, 0, .14),
			0 3px 14px 3px rgba(0, 0, 0, .12),
			0 4px 15px rgba(0, 0, 0, .2);
	--shadow-elevation-9:
			0 9px 12px 1px rgba(0, 0, 0, .14),
			0 3px 16px 2px rgba(0, 0, 0, .12),
			0 5px 6px rgba(0, 0, 0, .2);
	--shadow-elevation-12:
			0 12px 17px 2px rgba(0, 0, 0, .14),
			0 5px 22px 4px rgba(0, 0, 0, .12),
			0 7px 8px rgba(0, 0, 0, .2);
	--shadow-elevation-16:
			0 16px 24px 2px rgba(0, 0, 0, .14),
			0 6px 30px 5px rgba(0, 0, 0, .12),
			0 8px 10px rgba(0, 0, 0, .2);
	--shadow-elevation-24:
			0 24px 38px 3px rgba(0, 0, 0, .14),
			0 9px 46px 8px rgba(0, 0, 0, .12),
			0 11px 15px rgba(0, 0, 0, .2);


	/* Transition */
	--transition-standart-easing: 	  cubic-bezier(.4, 0, .2, 1);
	--transition-deceleration-easing: cubic-bezier(0, 0, .2, 1);
	--transition-acceleration-easing: cubic-bezier(.4, 0, 1, 1);
	--transition-sharp-easing: 		  cubic-bezier(.4, 0, .6, 1);


	/* Container */
	--container-width-tablet: 		720px;
	--container-width-desktop-sm: 	940px;
	--container-width-desktop: 		1200px;
}



/* ==========================================================================
   Base - Fonts
   ========================================================================== */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src:
			local('Roboto Light'),
			local('Roboto-Light'),
			url('fonts/Roboto/Roboto-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
			local('Roboto'),
			local('Roboto-Regular'),
			url('fonts/Roboto/Roboto-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src:
			local('Roboto Medium'),
			local('Roboto-Medium'),
			url('fonts/Roboto/Roboto-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src:
			local('Roboto Bold'),
			local('Roboto-Bold'),
			url('fonts/Roboto/Roboto-Bold.woff2') format('woff2');
}



/* ==========================================================================
   Reboot
   ========================================================================== */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	position: relative;
	height: 100%;
}

html {
	background-color: var(--page-background-color);
}

body {
	margin: 0;
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: calc(20 / 14);
	color: rgba(0, 0, 0, .87);
	background-color: var(--page-background-color);
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

b {
	font-weight: 500;
}

strong {
	font-weight: 700;
}

hr {
	margin: 4px 0;
	border-top: 1px solid var(--divider-color);
	border-bottom: none;
}

[hidden] {
	display: none;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
	opacity: 0
}