/* ==========================================================================
   Base - Fonts
   ========================================================================== */
/*@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src:
            local('Roboto Light'),
            local('Roboto-Light'),
            url('fonts/Roboto/Roboto-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:
            local('Roboto'),
            local('Roboto-Regular'),
            url('fonts/Roboto/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src:
            local('Roboto Medium'),
            local('Roboto-Medium'),
            url('fonts/Roboto/Roboto-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src:
            local('Roboto Bold'),
            local('Roboto-Bold'),
            url('fonts/Roboto/Roboto-Bold.woff2') format('woff2');
}*/
:root {
    /* Primary color */
    --primary-color-50:   #e8f5e9;
    --primary-color-100:  #c8e6c9;
    --primary-color-200:  #a5d6a7;
    --primary-color-300:  #81c784;
    --primary-color-400:  #66bb6a;
    --primary-color-500:  #4caf50;
    --primary-color-600:  #43a047;
    --primary-color-700:  #388e3c;
    --primary-color-800:  #2e7d32;
    --primary-color-900:  #1b5e20;
    --primary-color-A100: #b9f6ca;
    --primary-color-A200: #69f0ae;
    --primary-color-A400: #00e676;
    --primary-color-A700: #00c853;
    /* Primary contrast color */
    --primary-color-50-contrast:   rgba(0, 0, 0, .87);
    --primary-color-100-contrast:  rgba(0, 0, 0, .87);
    --primary-color-200-contrast:  rgba(0, 0, 0, .87);
    --primary-color-300-contrast:  rgba(0, 0, 0, .87);
    --primary-color-400-contrast:  rgba(0, 0, 0, .87);
    --primary-color-500-contrast:  rgba(0, 0, 0, .87);
    --primary-color-600-contrast:  rgba(255, 255, 255, .87);
    --primary-color-700-contrast:  rgba(255, 255, 255, .87);
    --primary-color-800-contrast:  rgba(255, 255, 255, .87);
    --primary-color-900-contrast:  rgba(255, 255, 255, .87);
    --primary-color-A100-contrast: rgba(0, 0, 0, .87);
    --primary-color-A200-contrast: rgba(0, 0, 0, .87);
    --primary-color-A400-contrast: rgba(0, 0, 0, .87);
    --primary-color-A700-contrast: rgba(0, 0, 0, .87);

    /* Secondary color */
    --secondary-color-50:   #fce4ec;
    --secondary-color-100:  #f8bbd0;
    --secondary-color-200:  #f48fb1;
    --secondary-color-300:  #f06292;
    --secondary-color-400:  #ec407a;
    --secondary-color-500:  #e91e63;
    --secondary-color-600:  #d81b60;
    --secondary-color-700:  #c2185b;
    --secondary-color-800:  #ad1457;
    --secondary-color-900:  #880e4f;
    --secondary-color-A100: #ff80ab;
    --secondary-color-A200: #ff4081;
    --secondary-color-A400: #f50057;
    --secondary-color-A700: #c51162;
    /* Secondary contrast color */
    --secondary-color-50-contrast:   rgba(0, 0, 0, .87);
    --secondary-color-100-contrast:  rgba(0, 0, 0, .87);
    --secondary-color-200-contrast:  rgba(0, 0, 0, .87);
    --secondary-color-300-contrast:  rgba(0, 0, 0, .87);
    --secondary-color-400-contrast:  rgba(255, 255, 255, .87);
    --secondary-color-500-contrast:  rgba(255, 255, 255, .87);
    --secondary-color-600-contrast:  rgba(255, 255, 255, .87);
    --secondary-color-700-contrast:  rgba(255, 255, 255, .87);
    --secondary-color-800-contrast:  rgba(255, 255, 255, .87);
    --secondary-color-900-contrast:  rgba(255, 255, 255, .87);
    --secondary-color-A100-contrast: rgba(0, 0, 0, .87);
    --secondary-color-A200-contrast: rgba(255, 255, 255, .87);
    --secondary-color-A400-contrast: rgba(255, 255, 255, .87);
    --secondary-color-A700-contrast: rgba(255, 255, 255, .87);

    /* Цвета текста в светлой теме (светлый фон, темный текс) */
    --page-background-color:      #efefef;
    --primary-background-color:   #fefefe;
    --primary-text-color:         rgba(0, 0, 0, .87);
    --secondary-text-color:       rgba(0, 0, 0, .54);
    --disabled-text-color:        rgba(0, 0, 0, .38);
    --divider-color:              rgba(0, 0, 0, .12);
    --error-color:                #f00;

    /* Shadow */
    --shadow-elevation-1:
            0 0 2px rgba(0, 0, 0, .14),
            0 2px 2px rgba(0, 0, 0, .12),
            0 1px 3px rgba(0, 0, 0, .2);
    --shadow-elevation-2:
            0 0 4px rgba(0, 0, 0, .14),
            0 3px 4px rgba(0, 0, 0, .12),
            0 1px 5px rgba(0, 0, 0, .2);
    --shadow-elevation-3:
            0 3px 3px rgba(0, 0, 0, .14),
            0 3px 4px rgba(0, 0, 0, .12),
            0 1px 8px rgba(0, 0, 0, .2);
    --shadow-elevation-4:
            0 2px 4px rgba(0, 0, 0, .14),
            0 4px 5px rgba(0, 0, 0, .12),
            0 1px 10px rgba(0, 0, 0, .2);
    --shadow-elevation-6:
            0 6px 10px rgba(0, 0, 0, .14),
            0 1px 18px rgba(0, 0, 0, .12),
            0 3px 5px rgba(0, 0, 0, .2);
    --shadow-elevation-8:
            0 8px 10px 1px rgba(0, 0, 0, .14),
            0 3px 14px 3px rgba(0, 0, 0, .12),
            0 4px 15px rgba(0, 0, 0, .2);
    --shadow-elevation-9:
            0 9px 12px 1px rgba(0, 0, 0, .14),
            0 3px 16px 2px rgba(0, 0, 0, .12),
            0 5px 6px rgba(0, 0, 0, .2);
    --shadow-elevation-12:
            0 12px 17px 2px rgba(0, 0, 0, .14),
            0 5px 22px 4px rgba(0, 0, 0, .12),
            0 7px 8px rgba(0, 0, 0, .2);
    --shadow-elevation-16:
            0 16px 24px 2px rgba(0, 0, 0, .14),
            0 6px 30px 5px rgba(0, 0, 0, .12),
            0 8px 10px rgba(0, 0, 0, .2);
    --shadow-elevation-24:
            0 24px 38px 3px rgba(0, 0, 0, .14),
            0 9px 46px 8px rgba(0, 0, 0, .12),
            0 11px 15px rgba(0, 0, 0, .2);

    /* Fonts */
    --font-family-base: Roboto, Arial, sans-seri;
    --font-size-base: 14px;
}
html {
    height: 100%;
    font-size: var(--font-size-base);
    line-height: calc(20 / 14);
    -webkit-text-size-adjust: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    font-family: var(--font-family-base);
    color: var(--primary-text-color);
    background-color: var(--page-background-color);
}

.app-drawer {
}
.app-drawer__header {
    display: block;
    height: 172px;
    background-color: var(--primary-color-500);
    border-bottom: 1px solid var(--divider-color);
}

.app-navigation {
}

.md-icon {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: 24px;
    opacity: 1;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
}

.md-list {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}

.md-list-item {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 48px;
    padding: 12px 16px;
}
.md-list-item__before {
    flex-shrink: 0;
    flex-basis: 56px;
}
.md-list-item__content {
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.md-list-item__after {
    flex-shrink: 0;
}

.md-drawer {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 160;
    background-color: rgba(0, 0, 0, .7);
    transition: background-color .3s ease;
    will-change: background-color;
}
.md-drawer[hidden] {
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
}
.md-drawer__content {
    position: fixed;
    top: 0;
    left: 0;
    right: 56px;
    display: block;
    max-width: 280px;
    height: 100%;
    background-color: #fff;
    box-shadow: var(--shadow-elevation-16);
    overflow: auto;
    z-index: 2;
    transform: translateX(0%);
    transition: transform .3s ease;
    will-change: transform;
}
.md-drawer[hidden] .md-drawer__content {
    box-shadow: none;
    transform: translateX(-100%);
}

/* Tablet */
@media (min-width: 768px) {
.md-drawer__content {
        max-width: 320px;
}
}

.header.header2 {
    color: #fff;
    background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, 0) 56px),
            url('https://images.pexels.com/photos/811107/pexels-photo-811107.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');
    background-size:
            auto,
            cover;
}
.heading {
    padding: 24px 16px 24px 72px;
}
.heading__title {
    font-size: 34px;
    line-height: 40px;
}
.heading__subtitle {
    font-size: 16px;
    line-height: 24px;
}

.app-header {
    position: relative;
    display: block;
    color: var(--primary-color-500-contrast);
    background-color: var(--primary-color-500);
    box-shadow: var(--shadow-elevation-4);
    z-index: 4;
}

.md-app-bar {
    position: relative;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 4px;
}
.md-app-bar__title {
    flex: 1 1 auto;
    padding-left: 20px;
}
.md-app-bar__title:first-child {
    padding-left: 12px;
}

/* Tablet */
@media (min-width: 768px) {
.md-app-bar {
        height: 64px;
        padding: 0 12px;
}
.md-app-bar__title:first-child {
        padding-left: 12px;
}
}

.md-icon-button {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 12px;
    color: inherit;
    background-color: transparent;
    border: none;
    box-shadow: none;
    -webkit-user-select: none;
            user-select: none;
    outline: none;
    cursor: pointer;
    transition: color .3s ease;
}
.md-icon-button:hover,
.md-icon-button:focus {
}
.md-icon-button:active {
}
.md-icon-button[disabled] {
    cursor: auto;
    pointer-events: none;
    opacity: .54;
}
.md-icon-button[hidden] {
    display: none;
}

.md-paper {
    display: block;
    background-color: var(--primary-background-color);
    box-shadow: var(--shadow-elevation-2);
}

.md-title {
    display: block;
    margin: 0;
    font-size: 20px;
    line-height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.page-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.page-layout__header {
}
.page-layout__body {
}
.page-layout__action {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 10;
}

.page-transaction-form {
}
.page-transaction-form__content {
    padding: 16px;
}

.md-select-field {
    position: relative;
    display: block;
    padding-top: 8px;
}
.md-select-field__label {
    display: block;
    overflow: hidden;
    padding-top: 8px;
    font-size: 12px;
    line-height: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--secondary-text-color);
    pointer-events: none;
    transition:
            font-size .3s ease,
            transform .3s ease;
}
.md-select-field:focus-within .md-select-field__label {
    color: var(--primary-color-500);
}
.md-select-field.is-invalid .md-select-field__label {
    color: var(--error-color);
}
.md-select-field.is-blank:not(:focus-within) .md-select-field__label:not(.is-fixed) {
    font-size: 16px;
    transform: translateY(23px);
}
.md-select-field__control {
    border-bottom: 1px solid rgba(0, 0, 0, .42);
}
.md-select-field:focus-within .md-select-field__control {
    border-bottom-color: var(--primary-color-500);
}
.md-select-field.is-invalid .md-select-field__control {
    border-bottom-color: var(--error-color);
}
.md-select-field__select {
}

.md-select {
    box-sizing: border-box;
    position: relative;
    display: block;
}
.md-select__button {
    box-sizing: border-box;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 32px;
    padding: 4px 24px 4px 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--primary-text-color);
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -webkit-user-select: none;
            user-select: none;
    outline: none;
    cursor: pointer;
}
.md-select__placeholder {
    color: var(--secondary-text-color);
}
.md-select.is-invalid .md-select__placeholder {
    color: var(--error-color);
}
.md-select__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    color: var(--disabled-text-color);
    transform: translateY(-50%);
    pointer-events: none;
}
.md-select__select {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    background-clip: padding-box;
    opacity: 0;
}

.md-text-field {
    position: relative;
    display: block;
    padding-top: 8px;
}
.md-text-field__label {
    display: block;
    overflow: hidden;
    padding-top: 8px;
    font-size: 12px;
    line-height: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--secondary-text-color);
    pointer-events: none;
    transition:
            font-size .3s ease,
            transform .3s ease;
}
.md-text-field:focus-within .md-text-field__label {
    color: var(--primary-color-500);
}
.md-text-field.is-invalid .md-text-field__label {
    color: var(--error-color);
}
.md-text-field.is-blank:not(:focus-within) .md-text-field__label:not(.is-fixed) {
    font-size: 16px;
    transform: translateY(23px);
}
.md-text-field__control {
    border-bottom: 1px solid rgba(0, 0, 0, .42);
}
.md-text-field:focus-within .md-text-field__control {
    border-bottom-color: var(--primary-color-500);
}
.md-text-field.is-invalid .md-text-field__control {
    border-bottom-color: var(--error-color);
}

.md-input {
    display: block;
}
.md-input__control {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-text-color);
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    transition: color .3s ease;
}
.md-input__control::-webkit-input-placeholder {
    color: var(--secondary-text-color);
    opacity: 1;
}
.md-input__control::placeholder {
    color: var(--secondary-text-color);
    opacity: 1;
}
.md-input__control:focus {
}
.md-input__control:disabled {
}
.md-input.is-invalid .md-input__control::-webkit-input-placeholder {
    color: var(--error-color);
}
.md-input.is-invalid .md-input__control::placeholder {
    color: var(--error-color);
}

.page-transactions {
}

.md-fab {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    padding: 16px;
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    box-shadow: var(--shadow-elevation-6);
    -webkit-user-select: none;
            user-select: none;
    outline: none;
    cursor: pointer;
    transition:
            color .3s ease,
            background-color .3s ease,
            box-shadow .3s ease;
}
.md-fab:hover,
.md-fab:focus {
}
.md-fab:active {
    box-shadow: var(--shadow-elevation-12);
}
.md-fab[disabled] {
    cursor: auto;
    pointer-events: none;
    opacity: .54;
}
.md-fab[hidden] {
    display: none;
}
.md-fab--primary {
    color: var(--primary-color-500-contrast);
    background-color: var(--primary-color-500);
}
.md-fab--secondary {
    color: var(--secondary-color-500-contrast);
    background-color: var(--secondary-color-500);
}

.transaction-item {
}
.transaction-item__image {
}
.transaction-item__body {
    display: grid;
    grid-template-areas:
            "category amount"
            "note note";
    grid-auto-columns: minmax(auto, 1fr) minmax(auto, 40%);
    grid-column-gap: 8px;
}
.transaction-item__category,
.transaction-item__amount,
.transaction-item__note {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.transaction-item__category {
    grid-area: category;
    font-size: 16px;
}
.transaction-item__amount {
    grid-area: amount;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    color: #0a0;
}
.transaction-item__amount--expense {
    color: #a00;
}
.transaction-item__note {
    grid-area: note;
    font-size: 14px;
    color: var(--secondary-text-color);
}

.md-avatar {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, .38);
    border-radius: 50%;
}

.page-wallet-form {
}
.page-wallet-form__content {
    padding: 16px;
}

.page-wallets {
}

.wallet-item {
}
.wallet-item__image {
}
.wallet-item__body {
    display: grid;
    grid-template-areas: "name balance";
    grid-auto-columns: minmax(auto, 1fr) minmax(auto, 40%);
    grid-column-gap: 8px;
}
.wallet-item__name {
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.wallet-item__balance {
    grid-area: balance;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    color: #0a0;
}
.wallet-item__balance--expense {
    color: #a00;
}
