:host {
	position: relative;
	display: inline-block;
	min-width: 88px;
	height: 36px;
	padding: 0 16px;
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 2px;
	outline: none;
	user-select: none;
	cursor: pointer;
	transition:
			color .3s ease,
			background-color .3s ease,
			box-shadow .3s ease;
}

:host(:hover),
:host(:focus) {
	--button-shade-background-color: rgba(153, 153, 153, .2);
}

:host(:active) {
	--button-shade-background-color: rgba(153, 153, 153, .4);
}

:host .shade {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--button-shade-background-color, transparent);
	transition: background-color .3s ease;
	pointer-events: none;
}

:host(.primary) {
	color: var(--primary-color);
}

:host(.accent) {
	color: var(--accent-color);
}

:host(.raised) {
	background-color: #fff;
	box-shadow: var(--shadow-elevation-2);
	--button-shade-background-color: rgba(0, 0, 0, 0);
}

:host(.raised:hover),
:host(.raised:focus) {
	--button-shade-background-color: rgba(0, 0, 0, .12);
}

:host(.raised:active) {
	box-shadow: var(--shadow-elevation-8);
}

:host(.raised.primary) {
	color: var(--primary-color-contrast);
	background-color: var(--primary-color);
}

:host(.raised.accent) {
	color: var(--accent-color-contrast);
	background-color: var(--accent-color);
}

:host([disabled]) {
	color: rgba(0, 0, 0, .26);
	background-color: rgba(0, 0, 0, .12);
	pointer-events: none;
	cursor: auto;
}

:host(.raised[disabled]) {
	box-shadow: none;
}