:host {
	position: relative;
	display: block;
	width: 100%;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: var(--primary-background-color);
	box-sizing: border-box;
}

:host(:empty) {
	display: none;
}

/* Tablet */
@media (min-width: 768px) {
	:host {
		max-width: 720px;
		min-height: 0;
		margin-top: 16px;
		margin-bottom: 16px;
		box-shadow: var(--shadow-elevation-2);
		border-radius: 2px;
	}
}

/* Desktop small */
@media (min-width: 992px) {
	:host {
		max-width: 940px;
	}
}
